.footer_copyright{
    font-size:12px;
    color:#666666;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    }
    
    /*
    

    */